{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <section>
      <div class="">
        <p>
          test
        </p>
      </div>
    </section>

    <!-- parallax -->

    <div id="js-parallax-window" class="parallax-window">
      <div class="parallax-static-content">
        <b>Parallax Window</b>
      </div>
      <div id="js-parallax-background" class="parallax-background"></div>
    </div>

    <section>
      <div class="">
        <p>
          cities
        </p>        
      </div>

    </section>
  </div>

{% endblock %}
